*{
    margin:0;
    padding:0;
    border:none;
}
input,button{
    outline:none;
}

html,body{
    width:100%;
    min-height:100%;
    background:rgb(245, 245, 245);
    position:relative;
    overflow: hidden;
  }
body{
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    overflow: hidden;
}  
#app{
    height:100%;
  position:absolute;
  top:0;
  width:100%;
  left:0;
  bottom:0;
  overflow: scroll;
}

  li{
      list-style: none;
  }
  body{
    min-height:100%;
  }
  .g-container{
      width:648px;
      margin:0 auto;
  }
  .g-main{
    overflow: scroll;
   height:100%;
   background:rgb(245, 245, 245);
 }
 .g-maincontainer{
     padding-top:88px;
    /* padding-bottom:98px; */
  }
  /* 头部组件样式 */
  .m-title{
      position: absolute;
      width:100%;
      top:0;
      left:0;
      right:30px;
      height: 88px;
      background-color: #0dd9a6;
    line-height:88px;
    color:#fff;
    font-size:34px;
    text-align:center;
    z-index:99;
  }
  .m-title .back{ 
    position: absolute;
    left:30px;
    width:22px;
    height:36px;
    top:26px;
    display: inline-block;
  }
  .m-title .back img{
    width:22px;
    height: 36px;
    position:absolute;
    top:0;
    left:0;
  }
  /* 主题区域样式 */
  .g-container{
    width:648px;
    margin:0 atuo;
  }
  
  
  /* 向上的间距 常用 */
  .c-margintop-s{
      margin-top:20px!important;
  }
  .c-margintop-m{
    margin-top:80px!important;
}

.c-color-gray{
    color:#d8d8d8!important;
}
/* 面板样式*/
.m-panel{
    background:#fff;
    padding-left:30px;
    margin-bottom:20px;
}
/* 面板标题行 */
.li-titleline{
    height:78px;
    line-height:78px;
    color:#999;
    font-size:26px;
    border-bottom: solid 2px #ededed;
}
