*{
    margin:0;
    padding:0;
    border:none;
}
input,button{
    outline:none;
}

html,body{
    width:100%;
    min-height:100%;
    background:rgb(245, 245, 245);
    position:relative;
    overflow: hidden;
  }
body{
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    width:100%;
    overflow: hidden;
}  
#app{
    height:100%;
  position:absolute;
  top:0;
  width:100%;
  left:0;
  bottom:0;
  overflow: scroll;
}

  li{
      list-style: none;
  }
  body{
    min-height:100%;
  }
  .g-container{
      padding:0 .51rem;
  }
  .g-main{
    overflow: scroll;
   height:100%;
   background:rgb(245, 245, 245);
 }
 .g-maincontainer{
     padding-top:0.88rem;
    /* padding-bottom:98rem; */
  }
  /* 头部组件样式 */
  .m-title{
      position: absolute;
      width:100%;
      top:0;
      left:0;
      right:.30rem;
      height: .88rem;
      background-color: #0dd9a6;
    line-height:0.88rem;
    color:#fff;
    font-size:.34rem;
    text-align:center;
    z-index:99;
  }
  .m-title .back{ 
    position: absolute;
    left:.30rem;
    width:.22rem;
    height:.36rem;
    top:.26rem;
    display: inline-block;
  }
  .m-title .back img{
    width:.22rem;
    height: .36rem;
    position:absolute;
    top:0;
    left:0;
  }


  
  
  /* 向上的间距 常用 */
  .c-margintop-s{
      margin-top:.20rem!important;
  }
  .c-margintop-m{
    margin-top:.80rem!important;
}

.c-color-gray{
    color:#d8d8d8!important;
}
/* 面板样式*/
.m-panel{
    background:#fff;
    padding-left:.30rem;
    margin-bottom:.20rem;
}
/* 面板标题行 */
.li-titleline{
    height:.78rem;
    line-height:.78rem;
    color:#999;
    font-size:.26rem;
    border-bottom: solid .02rem #ededed;
}
