*{
    margin:0;
    padding:0;
    border:none;
}
input,button{
    outline:none;
}

html,body{
    width:100%;
    min-height:100%;
    background:#f5f5f5;
  }
  li{
      list-style: none;
  }
  body{
    background:#fff;
    min-height:100%;
  }
  .g-container{
      width:648px;
      margin:0 auto;
  }
  /* 头部组件样式 */
  .m-title{
      height: 88px;
      background-color: #0dd9a6;
    line-height:88px;
    color:#fff;
    font-size:34px;
    text-align:center;
    padding-left:30px;
    position: relative;
  }
  .m-title .back{ 
    position: absolute;
    left:30px;
    width:22px;
    height:36px;
    top:26px;
    display: inline-block;
  }
  .m-title .back img{
    width:22px;
    height: 36px;
    position:absolute;
    top:0;
    left:0;
  }
  /* 主题区域样式 */
  .g-container{
    width:648px;
    margin:0 atuo;
  }
  
  
  /* 向上的间距 常用 */
  .c-margintop-s{
      margin-top:20px;
  }
  .c-margintop-m{
    margin-top:80px;
}

.c-color-gray{
    color:#d8d8d8!important;
}
/* 面板样式*/
.m-panel{
    background:#fff;
    padding-left:30px;
}
/* 面板标题行 */
.li-titleline{
    height:78px;
    line-height:78px;
    color:#999;
    font-size:26px;
    border-bottom: solid 2px #ededed;
}
/* 地址面板 */
.li-address{
    padding:30px 0;
    position:relative;

}
.li-address:after{
    display: inline-block;
    content:'';
    top:55px;
    position:absolute;
        width: 14px;
        height:14px;
        right:30px;
        transform: rotate(45deg);
        border-top: solid 4px #c6cdd6;
        border-right: solid 4px #c6cdd6;
    
}
.li-address  .title{
    font-size: 30px;
    color: #333;
    line-height:42px;
 }
 .li-address  .desc{
    font-size: 26px;
    color: #999;
    line-height:37px;
 }